<div
    class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden">
    <img class="rounded-xl" src="{{ $hero_image }}" alt="{{ $hero_image:alt }}">
    <div class="py-6 px-8">
        <h3 class="font-bold text-2xl leading-tight">
            {{ $title }}
        </h3>
        <p class="text-xl text-gray-600">
            {{ bard_field }}
            <a href="{{ external_link_field }}">{{ font_awesome:font_awesome_field }} </a>
            {{ /bard_field }}
        </p>
    </div>
</div>
